body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Login Page*/
.container-signin {
  background-color: #94aad6;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  .title {
    text-align: center;
    font-size: 38px;
  }
  .signin {
    background-color: #363636;
    border-radius: 8px;
    width: 500px;
    color: white;
    padding: 25px;
  }
  Button {
    width: 450px;
  }
  a {
    font-size: small;
    text-decoration: none;
  }
  .text {
    padding-top: 5px;
    font-size: 13px;
  }
}
/*Register Page*/
.container-register {
  background-color: #94aad6;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  .title {
    text-align: center;
    font-size: 38px;
  }
  .signin {
    background-color: #363636;
    border-radius: 8px;
    width: 500px;
    color: white;
    padding: 25px;
  }
  Button {
    margin-top: 20px;
    width: 450px;
  }
  a {
    text-decoration: none;
  }
  .text {
    padding-top: 15px;
    font-size: 15px;
  }
}
